@use "styles/vars";

@mixin textRight {
  text-align: right;
}

@mixin textLeft {
  text-align: left;
}

@mixin transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@mixin media-max-width($media) {
  @media only screen and (max-width: #{$media}) {
    @content;
  }
}

@mixin media-min-width($media) {
  @media only screen and (min-width: #{$media}) {
    @content;
  }
}

@mixin container {
  width: 1200px;
  max-width: 95%;
}

@mixin gradient($direction) {
  background: linear-gradient(to #{$direction}, #30cfd0 0%, #330867 100%);
}