// utils
$gradient: linear-gradient(to top, #30cfd0 0%, #330867 100%);


// colors
$lightgrey: rgb(241, 245, 250);
$lightergrey: rgb(250, 251, 253);
$blue: rgb(53, 117, 225);


// breakpoints

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;

$tablet: 768px;

$laptop: 1024px;
$laptopL: 1440px;

$desktop: 1920px;