.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .inner {
    border-radius: 20px;
    border: 1px solid black;
    padding: 50px;
    margin: 50px;
    display: grid;
    grid-template-areas:
    "converter converter"
    "costs history";

    .converter {
      grid-area: converter;
    }

    .costs {
      grid-area: costs;
    }

    .history {
      grid-area: history;
    }
  }
}