@use "styles/utils";
@use "styles/vars";


$currencyWidth: 97px;
$currencyHeight: 50px;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency {
  height: $currencyHeight;
  width: $currencyWidth;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  @include utils.gradient(left);
}

.searchBox {
  width: calc($currencyWidth - 20px);
  padding: 5px 10px;
  @include utils.transition;
}

.optionTitle {
  width: 100%;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  color: white;

  &:hover {
    @include utils.gradient(right);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.options {
  position: absolute;
  max-height: 200px;

  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid black;
  margin-top: calc($currencyHeight + 1px);
  min-width: $currencyWidth;

  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 7px;
  };

  &::-webkit-scrollbar-thumb {
    background: black;
  };

  &::-webkit-scrollbar-track {
    background: black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    background-clip: padding-box;
  };

  &.hide {
    visibility: hidden;
  }
}

.option {
  width: 100%;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background: vars.$light-grey-2;
  }
}